body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    background: #000;
}

.mainArea{
    display: grid;
    position: relative;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 820px;
    max-height: 820px;
    min-height: 820px;
    border-radius: 10px;
    background: rgb(106,65,255);
    background: radial-gradient(circle, rgba(106,65,255,1) 50%, rgba(57,78,185,1) 100%);
}
.navLogo{
    display: grid;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 70px;
    max-height: 70px;
    min-height: 70px;
    vertical-align: top;
    border-radius:10px 10px 0px 0px ; 
    background: rgb(0, 0, 0);
}

.navLogo img{
    position: absolute;
    left: 48%;
    width: auto;
    max-width: auto;
    min-width: auto;
    height: 60px;
    max-height: 60px;
    min-height: 60px;
    margin-top: 3px;
}

.middleArea{
    display: block;
    width: 400px;
    max-width: 400px;
    min-width: 400px;
    height: 600px;
    max-height: 600px;
    min-height: 600px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #000;
    border-radius: 15px;
    text-align: center;
}

.foto {
    display: block;
    width: 200px;
    max-width: 200px;
    min-width: 200px;
    height: 200px;
    max-height: 200px;
    min-height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border: 3px solid #000;
    border-radius: 50%;
}

.foto img{
    width: 199px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

.nameSurname{
    display: block;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 28px;
    text-align: center;
}

.title{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 200;
    font-size: 20px;
    text-align: center;
    color: #000;
    margin-top: -10px;
    margin-bottom: 5px;
}

.buttons{
    display: block;
    width: 300px;
    max-width: 300px;
    min-width: 300px;
    height: 300px;
    max-height: 300px;
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #000;
    border-radius: 15px;    
}

.buttons a{
    text-decoration: none;
}

.buttons button{
    display: block;
    width: 180px;
    max-width: 180px;
    min-width: 180px;
    height: 40px;
    max-height: 40px;
    min-height: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7.5px;
    border-radius: 25px;
    font-family: 'Josefin Sans', sans-serif;
    background-color: #000;
    color:rgb(94, 142, 255);
    border: 3px solid rgb(94, 142, 255);
    box-shadow: 10px 5px 15px;
    transition: all ease 400ms;
    cursor: pointer;
}

.buttons button:hover{
    border-color: #000;
    background-color: rgb(130, 167, 252);
    color: #000;
    text-decoration: underline;
    transform: scale(1.2);
}

.buttons button:active{
    border-color: #000;
    background-color: rgb(255, 255, 255);
    color: #000;
    text-decoration: underline;
    transform: scale(1.2);
}

.copyRights{
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 200;
}
